#nav-bar {
  padding: 0.625rem 0 0 0;
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  align-content: flex-end;
}

#footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 0.5rem;
}

.accent-data {
  color: var(--accent-light);
}

.theme-transition {
  transition: background-color 0.3s ease;
}

.tags-data {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-start;
  align-content: flex-end;
}

.title-list li {
  margin-bottom: 0.375rem;
}

/* icons settings */
.icons {
  width: 1.3rem;
  height: 1.3rem;
  aspect-ratio: 1/1;
  display: inline-block;
  vertical-align: middle;
  color: var(--text);
  fill: var(--text);
  background-color: transparent;
  cursor: pointer;
}

.icons:hover {
  background-color: transparent;
  color: var(--accent);
}

/* footnotes */
.footnote-definition {
  margin: 0 0 0 0.125rem;
}

.footnote-definition-label {
  color: var(--accent);
}

.footnote-definition p {
  display: inline;
  margin: 0.625rem 0 0 0.625rem;
}

/* general classes */
.no-style {
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
}

.no-style:hover {
  background-color: transparent;
  color: var(--accent);
}

.center {
  text-align: center;
}

.center img {
  display: block;
  margin: 1rem auto;
}

.center figcaption {
  text-align: center;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

div code,
li code,
p code {
  color: var(--text);
  background-color: var(--bg-light);
}

pre {
  border-top-left-radius: 0;
}

blockquote {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

blockquote:has(+ pre) {
  display: inline-block;
  border: none;
  font-family: "code" !important;
  font-size: 0.8rem;
  font-weight: 600;
  margin: 0;
  margin-bottom: 0.2rem;
  margin-block: 0 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  position: relative;
  background-color: var(--accent);
}

blockquote:has(+ pre) p {
  margin: 0;
  color: var(--accent-text);
}

.yt-embed {
  width: 100%;
  display: flex;
  justify-content: center;
}

.yt-embed iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
}
